@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora:ital,wght@1,459&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 350;
    background-image: url(../images/body-background.jpg);
    background-size: cover;
    background-position: center;
}

/* Logo */
#logo-background-image {
    background-image: url(../images/background-logo-img.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#logo {
    font-family: lora, sans-serif;
    float: left;
    font-size: 350%;
    padding: 1em 0 1em 1em;
    letter-spacing: 3px;
}

#logo > a {
  text-decoration: none;
  color: rgb(132, 239, 105);
}

/* Navigation menu */
#nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 36, 36);
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  #nav-menu > li {
    float: left;
  }
  
  #nav-menu > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  #nav-menu > li a:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

/* Main section home page*/
  #main-section {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
  }

  #main-section > div {
    width: 20%;
    display: inline-block;
    Margin: 20px 10px 20px 10px;
    text-align: center;
    border: 5px solid rgba(198, 126, 87, 0.607);
    border-radius: 10px;
    padding: 10px;
    font-family: lora, sans-serif;
    background-color: rgba(227, 216, 202, 0.597);
    cursor: pointer;
  }

  p {
    margin-bottom: 7px;
  }

  div > a {
    text-decoration: none;
    color: black;
  }

  #homepage-meat-image {
    width: 100%;
    height: 230px;
    background-image: url(../images/meat-img.jpg);
    background-position: center;
    margin: 15px 0 15px 0;
  }

  #homepage-fish-image {
    width: 100%;
    height: 230px;
    background-image: url(../images/fish-img.jpg);
    background-position: center;
    margin: 15px 0 15px 0;
  }

  #homepage-vegetarian-image {
    width: 100%;
    height: 230px;
    background-image: url(../images/vegetarian-img.jpg);
    background-position: center;
    margin: 15px 0 15px 0;
  }

  #homepage-dessert-image {
    width: 100%;
    height: 230px;
    background-image: url(../images/dessert-img.jpg);
    background-position: center;
    margin: 15px 0 15px 0;
  }

  .front-img {
    border-radius: 10px;
  }

  #main-section :hover {
    background-color: #ccf4cc;
    color: black;
  }

  /* Portuguese gastronomy */
  #portuguese-gastronomy {
    width: 70%;
    height: auto;
    padding: 10px;
    font-family: lora, sans-serif;
    background-color: rgba(198, 126, 87, 0.607);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
  }

  #portuguese-gastronomy > h2 {
    vertical-align: middle;
    margin: 7px 0 7px 0;
  }

  #portuguese-gastronomy > p {
    margin-bottom: 5px;
    margin: 8px 5px;
  }

  h2 > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  /* Sign up form */
  .signup-form {
    width: 60%;
    margin: 30px auto 30px auto;
  }

  .signup-form > form {
    background-color: rgba(166, 166, 166, 0.6);
    border: 5px solid rgb(78, 78, 78);
    border-radius: 10px;
    padding: 10px;
  }

  .signup-form > h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
  }

  .text-input {
    width: 100%;
    padding: 5px 0 0 0;
    height: 20px;
    margin: 5px 0 20px 0;
    font-size: 20px;
  }

.signup-submit {
  text-align: center;
  border-radius: 3px;
  background-color: rgb(160, 160, 160);
  padding: 10px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-weight: bold;
}

  .signup-submit:hover {
    color: white;
    background-color: rgb(65, 65, 65);
  }

  /* Footer */
footer {
  background-color: black;
}

  .social-media-links {
    text-align: center;
  }

  .social-media-links li {
    display: inline;
}

.social-media-links i {
  font-size: 200%;
  color: white;
  padding: 10px 15px 10px 15px;
}

/* Meat recipes page */

.recipe-img {
  width: 40%;
  padding: 40px 20px 40px 100px;
  float: left;
  margin: auto;
}

.recipe-img > img {
  max-width: 100%;
  height: auto;
}

#ingredients-list {
  width: 40%;
  float: right;
  padding: 40px 20px 40px 100px;
}

#preparation-list {
  width: 100%;
  float: left;
  display: inline-block;
}

/* Media queries */

/* For large to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
  #logo {
    font-size: 300%;
  }

  #logo-background-image {
    height: 150px;
    display: flex;
  }

  #main-section {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .front-img {
    background-size: cover;
  }

  #main-section > div {
    width: 40%;
  }

  #portuguese-gastronomy {
    width: 86%;
  }

  .signup-form {
    width: 70%;
  }

}

/* For medium screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
  #logo {
    font-size: 250%;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-top: 50px;
  }

  #main-section {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .front-img {
    background-size: cover;
  }

  #main-section > div {
    width: 80%;
  }

  .signup-form {
    width: 85%;
  }

  .signup-submit {
    width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  }

}

/* For small screens sizes from 500px wide and down */
@media screen and (max-width: 500px) {

  #logo {
    font-size: 200%;
    letter-spacing: 1px;
    padding-top: 30px;
  }

  #logo-background-image {
    height: 100px;
    display: flex;
    background-image: url(../images/background-logo-small.jpg);
  }
  
  #nav-menu {
    letter-spacing: 1px;
  }

  #nav-menu > li a {
    padding: 10px 6px;
  }

  #main-section {
    margin: 10px 0 10px 0;
  }

  .signup-form > h3 {
    padding: 5px;
    margin-bottom: 5px;
  }

}